.header {
  align-items: center;
  align-self: stretch;
  border-bottom: var(--borderSize-border) solid var(--color-border);
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  min-height: calc(48px + var(--borderSize-border)); // Matches the [SideNavHeader].
  padding: 12px 24px;
}

.left, .right {
  align-items: center;
  column-gap: 12px;
  display: flex;
  flex-direction: row;
}
