.header {
  align-items: center;
  align-self: stretch;
  border-bottom: var(--borderSize-border-normal) solid var(--color-border);
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  height: calc(var(--size-topNav-height) + var(--borderSize-border-normal));
  padding: var(--gap-normal) var(--gap-normalPlus);
}

.left, .right {
  align-items: center;
  column-gap: var(--gap-normal);
  display: flex;
  flex-direction: row;
}
