.link {
  align-items: center;
  border-radius: 4px;
  display: flex;
  flex-direction: row;
  padding: 6px 12px;

  /**
   * The [active] class is applied automatically by React Router.
   */
  &:active, &:global(.active) {
    background-color: var(--color-backgroundActive);
  }

  &:hover {
    background-color: var(--color-backgroundHover);
  }
}
