.dialog {
  z-index: var(--zIndex-sideNav);
}

.backdrop {
  background-color: var(--color-overlay);
  inset: 0;
  position: fixed;
}

.container {
  border-right: var(--borderSize-m) solid var(--color-border);
  width: 256px;

  &.collapsible {
    background-color: var(--color-background);
    inset: 0;
    position: fixed;
  }
}

.nav {
  overflow-y: auto;
  padding: 24px;
}

.ul {
  display: flex;
  flex-direction: column;
  row-gap: 6px;
}
