@use "src/style/focus";

.link {
  align-items: center;
  border-radius: var(--borderRadius-normal);
  column-gap: var(--gap-small);
  display: flex;
  flex-direction: row;
  padding: var(--gap-small) var(--gap-smallPlus);

  @include focus.hideFocus;

  &:focus, &:hover {
    background-color: var(--color-background-hoverClickable);
  }

  &:active {
    background-color: var(--color-background-active);
  }

  &:global(.active) {
    background-color: var(--color-indicator);
  }
}
