@use "src/component/topNav/vars" as topNavVars;

.container {
  align-items: center;
  border-bottom: var(--borderSize-border) solid var(--color-border);
  display: flex;
  flex-direction: row;
  min-height: calc(#{topNavVars.$height} + var(--borderSize));
  padding: var(--gap-largeHalf) var(--gap-large);
}
