@use "./vars" as sideNavVars;

.dialog {
  z-index: var(--zIndex-sideNav);
}

.backdrop {
  background-color: var(--color-overlay);
  inset: 0;
  position: fixed;
}

.container {
  width: 256px;

  &.collapsible {
    background-color: var(--color-background);
    border-right: var(--borderSize-border) solid var(--color-border);
    inset: 0;
    position: fixed;
  }
}

.nav {
  overflow-y: auto;
  padding: var(--gap-large);
  padding-left: calc(var(--gap-large) + #{sideNavVars.$indicator-offset} - var(--gap-small) + #{sideNavVars.$indicator-width});
}

.ul {
  display: flex;
  flex-direction: column;
  row-gap: var(--gap-normal);
}
