.dialog {
  z-index: var(--zIndex-sideNav);
}

.backdrop {
  background-color: var(--color-overlay-default);
  inset: 0;
  position: fixed;
}

.container {
  width: 224px;
}

.nav {
  overflow-y: auto;
}

.ul {
  display: flex;
  flex-direction: column;
  row-gap: var(--gap-normal);
}

.container.collapsible {
  background-color: var(--color-background-default);
  border-right: var(--borderSize-border-normal) solid var(--color-border);
  inset: 0;
  position: fixed;

  .nav {
    padding: var(--gap-normal) var(--gap-normalPlus);
  }
}
