.container {
  align-items: center;
  border-bottom: var(--borderSize-border-normal) solid var(--color-border);
  display: flex;
  flex-direction: row;
  height: calc(var(--size-topNav-height) + var(--borderSize-border-normal));
  padding: var(--gap-normal) var(--gap-normalPlus);
}
