# File types.
*.bak
*.bat
*.dump
*.log
*.swp

# IntelliJ (ignores .idea/ folders except the one at the root).
.idea/
!/.idea/

# VSCode.
.vscode/

# Gradle build.
.gradle/
build/
out/

# Misc.
.DS_Store
