.menu {
  position: relative;
}

.container {
  background-color: var(--color-background);
  border: var(--borderSize-border) solid var(--color-border);
  border-radius: var(--borderRadius-normal);
  margin-top: 8px;
  min-width: 160px;
  position: absolute;
  width: max-content;
  z-index: var(--zIndex-menu);

  &.left {
    left: 0;
  }

  &.right {
    right: 0;
  }
}
