.item {
  align-items: center;
  border-radius: 4px;
  display: flex;
  flex-direction: row;
  padding: 4px 12px;

  &:active {
    background-color: var(--color-backgroundActive);
  }

  &:hover {
    background-color: var(--color-backgroundHover);
  }
}
