.items {
  display: flex;
  flex-direction: column;
  padding: calc(3 * var(--borderSize-border));
  row-gap: calc(2 * var(--borderSize-border));

  &:not(:first-of-type) {
    border-top: var(--borderSize-border) solid var(--color-border);
  }
}
