@use "src/style/focus";

.item {
  align-items: center;
  border-radius: var(--borderRadius-normal);
  display: flex;
  flex-direction: row;
  padding: 4px 9px;

  &:hover {
    background-color: var(--color-backgroundHover);
  }

  &:active {
    background-color: var(--color-backgroundActive);
  }

  @include focus.focusable;
}
