.container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.expandIcon {
  transition-duration: var(--duration-transition);
}

[data-headlessui-state=open] > .expandIcon {
  transform: scaleY(-1);
}
