@use "src/style/focus";

.items {
  display: flex;
  flex-direction: column;
  padding: var(--gap-small) var(--gap-smallPlus);
  row-gap: var(--gap-small);

  &:not(:first-of-type) {
    border-top: var(--borderSize-border-normal) solid var(--color-border);
  }

  > * {
    align-items: center;
    border-radius: var(--borderRadius-normal);
    column-gap: var(--gap-small);
    display: flex;
    flex-direction: row;
    padding: var(--gap-small) var(--gap-smallPlus);
    width: auto; // Fill the container horizontally.

    @include focus.hideFocus;

    &[data-headlessui-state=active] {
      background-color: var(--color-background-hoverClickable);
    }

    &:active {
      background-color: var(--color-background-active);
    }
  }
}
