.h1 {
  font-size: var(--fontSize-h1);
  margin-bottom: var(--gap-normal);
  margin-top: 17px;
}

.h2 {
  font-size: var(--fontSize-h2);
  margin-bottom: var(--gap-normal);
  margin-top: 16px;
}

.h3 {
  font-size: var(--fontSize-h3);
  margin-bottom: var(--gap-normal);
  margin-top: 15px;
}

.h4 {
  font-size: var(--fontSize-h4);
  margin-bottom: var(--gap-normal);
  margin-top: 14px;
}
