.sizeSmall {
  font-size: var(--fontSize-small);
}

.sizeNormal {
  font-size: var(--fontSize-normal);
}

.sizeLarge {
  font-size: var(--fontSize-large);
}

.weightLight {
  font-weight: var(--fontWeight-light);
}

.weightNormal {
  font-weight: var(--fontWeight-normal);
}

.weightBold {
  font-weight: var(--fontWeight-bold);
}
