@use "src/style/focus";

.container {
  border: var(--borderSize-border) solid var(--color-border);
  border-radius: var(--borderRadius-normal);
  display: inline-flex;
  width: 240px;

  @include focus.focusable;
}

.input {
  flex-grow: 1;
  font-weight: var(--fontWeight-light);
  height: 30px;
  padding: 6px 12px;

  /**
   * Inputs with a copy button are a bit smaller,
   * so we sacrifice a bit of the padding to compensate.
   */
  &.copyable {
    padding-right: 6px;
  }

  &::placeholder {
    color: var(--color-fontFaded);
  }
}
