@use "src/style/focus";

.container {
  border: var(--borderSize-border-normal) solid var(--color-border);
  border-radius: var(--borderRadius-normal);
  display: flex;
  width: 100%;

  @include focus.focusable;

  &.error {
    border-color: var(--color-status-danger-border);
  }
}

.input {
  flex-grow: 1;
  font-weight: var(--fontWeight-light);
  height: var(--size-input-height);
  padding: var(--gap-small) var(--gap-smallPlus);

  &:disabled {
    cursor: not-allowed;
  }

  &::placeholder {
    color: var(--color-font-faded);
  }

  /**
   * Inputs with a copy button are a bit smaller,
   * so we sacrifice a bit of the padding to compensate.
   */
  &.copyable {
    padding-right: var(--gap-small);
  }
}
