.container {
  display: flex;

  &.densityVeryCompact {
    gap: var(--gap-extraSmall);
  }

  &.densityCompact {
    gap: var(--gap-small);
  }

  &.densityNormal {
    gap: var(--gap-normal);
  }

  &.densityRelaxed {
    gap: var(--gap-large);
  }

  &.directionHorizontal {
    flex-direction: row;
  }

  &.directionVertical {
    flex-direction: column;
  }
}
