[versions]

hocon = "1.4.4" # https://github.com/lightbend/config/releases
kotest = "6.0.0.M14" # https://github.com/kotest/kotest/releases
logging = "7.0.12" # https://github.com/oshai/kotlin-logging/releases
mockk = "1.14.5" # https://github.com/mockk/mockk/releases

[libraries]

arrow-coroutines = { module = "io.arrow-kt:arrow-fx-coroutines" }

coroutines-core = { module = "org.jetbrains.kotlinx:kotlinx-coroutines-core" }
coroutines-guava = { module = "org.jetbrains.kotlinx:kotlinx-coroutines-guava" }
coroutines-test = { module = "org.jetbrains.kotlinx:kotlinx-coroutines-test" }

gcp-secretManager = { module = "com.google.cloud:google-cloud-secretmanager" }

guava = { module = "com.google.guava:guava" }

hocon = { module = "com.typesafe:config", version.ref = "hocon" }

kotest = { module = "io.kotest:kotest-runner-junit5", version.ref = "kotest" }

log4j-configYaml = { module = "org.apache.logging.log4j:log4j-config-yaml" }
log4j-core = { module = "org.apache.logging.log4j:log4j-core" }
log4j-layoutTemplateJson = { module = "org.apache.logging.log4j:log4j-layout-template-json" }
log4j-slf4j = { module = "org.apache.logging.log4j:log4j-slf4j2-impl" }

logging = { module = "io.github.oshai:kotlin-logging-jvm", version.ref = "logging" }

mockk = { module = "io.mockk:mockk", version.ref = "mockk" }

serialization-core = { module = "org.jetbrains.kotlinx:kotlinx-serialization-core" }
serialization-json = { module = "org.jetbrains.kotlinx:kotlinx-serialization-json" }
serialization-hocon = { module = "org.jetbrains.kotlinx:kotlinx-serialization-hocon" }
