[libraries]

# Arrow
# https://github.com/arrow-kt/arrow/releases
arrowBom = { module = "io.arrow-kt:arrow-stack", version = "2.1.2" }
arrowCore = { module = "io.arrow-kt:arrow-core" }
arrowCoroutines = { module = "io.arrow-kt:arrow-fx-coroutines" }

# GCP
# https://github.com/googleapis/java-cloud-bom/releases
gcpBom = { module = "com.google.cloud:libraries-bom", version = "26.65.0" }
gcpSecretManager = { module = "com.google.cloud:google-cloud-secretmanager" }

# Guava
# https://github.com/google/guava/releases
guavaBom = { module = "com.google.guava:guava-bom", version = "33.4.8-jre" }
guava = { module = "com.google.guava:guava" }

# Hocon
# https://github.com/lightbend/config/releases
hocon = { module = "com.typesafe:config", version = "1.4.4" }

# Kotest
# https://github.com/kotest/kotest/releases
kotest = { module = "io.kotest:kotest-runner-junit5", version = "6.0.0.M14" }

# Kotlin Logging
# https://github.com/oshai/kotlin-logging/releases
kotlinLoggingJvm = { module = "io.github.oshai:kotlin-logging-jvm", version = "7.0.12" }

# Kotlinx Coroutines
# https://github.com/Kotlin/kotlinx.coroutines/releases
kotlinxCoroutinesBom = { module = "org.jetbrains.kotlinx:kotlinx-coroutines-bom", version = "1.10.2" }
kotlinxCoroutinesCore = { module = "org.jetbrains.kotlinx:kotlinx-coroutines-core" }
kotlinxCoroutinesGuava = { module = "org.jetbrains.kotlinx:kotlinx-coroutines-guava" }
kotlinxCoroutinesTest = { module = "org.jetbrains.kotlinx:kotlinx-coroutines-test" }

# Kotlinx Serialization
# https://github.com/Kotlin/kotlinx.serialization/releases
kotlinxSerializationBom = { module = "org.jetbrains.kotlinx:kotlinx-serialization-bom", version = "1.9.0" }
kotlinxSerializationCore = { module = "org.jetbrains.kotlinx:kotlinx-serialization-core" }
kotlinxSerializationJson = { module = "org.jetbrains.kotlinx:kotlinx-serialization-json" }
kotlinxSerializationHocon = { module = "org.jetbrains.kotlinx:kotlinx-serialization-hocon" }

# Log4j
# https://github.com/apache/logging-log4j2/releases
log4jBom = { module = "org.apache.logging.log4j:log4j-bom", version = "3.0.0-beta3" }
log4jConfigYaml = { module = "org.apache.logging.log4j:log4j-config-yaml" }
log4jCore = { module = "org.apache.logging.log4j:log4j-core" }
log4jLayoutTemplateJson = { module = "org.apache.logging.log4j:log4j-layout-template-json" }
log4jSlf4j2Impl = { module = "org.apache.logging.log4j:log4j-slf4j2-impl" }

# MockK
# https://github.com/mockk/mockk/releases
mockK = { module = "io.mockk:mockk", version = "1.14.5" }
