@use "src/style/breakpoints";

.outer {
  align-items: center;
  display: flex;
  flex-direction: column;
  height: 100%;

  > * {
    flex-shrink: 0;
  }
}

.middle {
  display: flex;
  flex-direction: row;
  flex-grow: 1;
  flex-shrink: initial;
  max-width: 100%;
  min-height: 0;
  position: relative;
  width: 1400px;

  > * {
    flex-shrink: 0;
  }
}

.inner {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  flex-shrink: initial;
  overflow-y: auto;
}

.main {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  padding: 32px;

  @include breakpoints.below(breakpoints.$breakpoint-sm) {
    padding: 16px;
  }
}
