@use "src/style/breakpoints";

.outer {
  align-items: center;
  display: flex;
  flex-direction: column;
  height: 100%;
}

.topNav {
  align-self: stretch;
}

.middle {
  display: flex;
  flex-direction: row;
  flex-grow: 1;
  flex-shrink: initial;
  max-width: 100%;
  min-height: 0;
  position: relative;
  width: 1400px;
}

.sideNav {
  @include breakpoints.above(breakpoints.$breakpoint-md) {
    padding: var(--gap-layout) 20px var(--gap-layout) var(--gap-layout);
  }
}

.inner {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  flex-shrink: initial;
  overflow-y: auto;
  padding: var(--gap-layout);
  row-gap: 60px;

  @include breakpoints.below(breakpoints.$breakpoint-md) {
    row-gap: 48px;
  }
}

.main {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
}
