.backdrop, .container {
  inset: 0;
  position: absolute;
}

.backdrop {
  background-color: var(--color-overlay-danger);
}

.container {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.panelContainer {
  justify-content: center;
  padding: var(--gap-normal) var(--gap-normalPlus);
  text-align: center;
}

.buttonContainer {
  justify-content: center;
}
