:root {
  --borderSize-border-thin: 1px;
  --borderSize-border-normal: 2px;

  /**
   * The border and focus border sizes must be the same,
   * because some components (such as Input) use both, expecting only a color change on focus.
   */
  --borderSize-focus: 2px;

  --borderRadius-normal: 3px; // Should be used for most rounded elements.
  --borderRadius-large: 7px; // Should be used for larger containers
}
