:root {
  --colorLight-background-default: hsl(240deg, 10%, 99%);
  --colorDark-background-default: hsl(240deg, 10%, 16%);

  --color-focus: hsl(210deg, 80%, 60%);

  --colorLight-font-default: hsl(240deg, 10%, 16%);
  --colorDark-font-default: hsl(240deg, 10%, 99%);

  --color-indicator: hsl(210deg, 80%, 60%);

  --colorLight-status-success-background: hsl(120deg, 45%, 44%);
  --colorDark-status-success-background: hsl(120deg, 45%, 70%);
  --colorLight-status-warning-background: hsl(60deg, 45%, 42%);
  --colorDark-status-warning-background: hsl(60deg, 45%, 67%);
  --colorLight-status-danger-background: hsl(0deg, 45%, 52%);
  --colorDark-status-danger-background: hsl(0deg, 45%, 73%);
}

@media (prefers-color-scheme: light) {
  :root {
    --color-background-default: var(--colorLight-background-default);
    --color-background-accent: hsl(240deg, 10%, 94%); // Highlights something important.
    --color-background-active: hsl(240deg, 10%, 92%); // For CSS ":active".
    --color-background-hoverClickable: hsl(240deg, 10%, 90%); // For CSS ":hover" on clickable elements.
    --color-background-hoverNotClickable: hsl(240deg, 10%, 97%); // For CSS ":hover" on non-clickable elements.
    --color-background-inverse: var(--colorDark-background-default);

    --color-block: hsl(240deg, 10%, 52%); // Monochromatic illustrations, including loaders and spinners.

    --color-border: hsl(240deg, 10%, 91%);

    --color-button-primary-background: hsl(215deg, 45%, 55%);
    --color-button-primary-border: hsl(215deg, 45%, 55%);

    --color-font-default: var(--colorLight-font-default);
    --color-font-inverse: var(--colorDark-font-default);

    --color-overlay: hsla(240deg, 10%, 91%, 75%); // Overlays indicate the background cannot be interacted with.

    --color-status-success-background: var(--colorLight-status-success-background);
    --color-status-success-border: hsl(120deg, 45%, 34%);
    --color-status-warning-background: var(--colorLight-status-warning-background);
    --color-status-warning-border: hsl(60deg, 45%, 31%);
    --color-status-danger-background: var(--colorLight-status-danger-background);
    --color-status-danger-border: hsl(0deg, 45%, 38%);
    --color-status-danger-text: var(--color-status-danger-border);
  }
}

@media (prefers-color-scheme: dark) {
  :root {
    --color-background-default: var(--colorDark-background-default);
    --color-background-accent: hsl(240deg, 10%, 24%); // Highlights something important.
    --color-background-active: hsl(240deg, 10%, 26%); // For CSS ":active".
    --color-background-hoverClickable: hsl(240deg, 10%, 28%); // For CSS ":hover" on clickable elements.
    --color-background-hoverNotClickable: hsl(240deg, 10%, 17%); // For CSS ":hover" on non-clickable elements.
    --color-background-inverse: var(--colorLight-background-default);

    --color-block: hsl(240deg, 10%, 75%); // Monochromatic illustrations, including loaders and spinners.

    --color-border: hsl(240deg, 10%, 26%);

    --color-button-primary-background: hsl(215deg, 50%, 50%);
    --color-button-primary-border: hsl(215deg, 50%, 32%);

    --color-font-default: var(--colorDark-font-default);
    --color-font-inverse: var(--colorLight-font-default);

    --color-overlay: hsla(240deg, 10%, 22%, 75%); // Overlays indicate the background cannot be interacted with.

    --color-status-success-background: var(--colorDark-status-success-background);
    --color-status-success-border: hsl(120deg, 45%, 35%);
    --color-status-warning-background: var(--colorDark-status-warning-background);
    --color-status-warning-border: hsl(60deg, 45%, 33%);
    --color-status-danger-background: var(--colorDark-status-danger-background);
    --color-status-danger-border: hsl(0deg, 45%, 47%);
    --color-status-danger-text: var(--color-status-danger-background);
  }
}
