$duration-flash: 200; // Duration for a literal flash, to draw attention.
$duration-focus: 50; // A small delay for when HTML focus state changes.
$duration-transition: 150; // Typical transition duration.

:root {
  --duration-flash: #{$duration-flash * 1ms};
  --duration-focus: #{$duration-focus * 1ms};
  --duration-transition: #{$duration-transition * 1ms};
}

:export {
  durationFlash: $duration-flash;
  durationTransition: $duration-transition;
}
