@use "src/style/breakpoints";

:root {
  /**
   * "Plus" gaps are 4/3 of their base. They should only be used for horizontal padding.
   */
  --gap-extraSmall: 3px;
  --gap-extraSmallPlus: 4px;
  --gap-small: 6px;
  --gap-smallPlus: 8px;
  --gap-normal: 12px;
  --gap-normalPlus: 16px;
  --gap-large: 24px;
  --gap-largePlus: 32px;

  /**
   * The layout gap is a special gap that is only for use at the page/layout level.
   */
  @include breakpoints.above(breakpoints.$breakpoint-md) {
    --gap-layout: 40px;
  }
  @include breakpoints.below(breakpoints.$breakpoint-md) {
    --gap-layout: 32px;
  }
  @include breakpoints.below(breakpoints.$breakpoint-sm) {
    --gap-layout: 20px;
  }
}
