.button {
  padding: 5px; // Low enough to not cause TextInputs to grow when they have a copy button.
  position: relative;
}

.tooltipContainer {
  align-items: center;
  display: flex;
  flex-direction: column;
  inset: -42px 0 auto;
  position: absolute;

  /**
   * This 8px square is rotated 45 degrees to look like a downward caret.
   */
  &::after {
    background-color: var(--color-background-inverse);
    content: "";
    display: block;
    height: 8px;
    transform: translateY(-4px) rotate(45deg);
    width: 8px;
    z-index: -1;
  }

  .tooltip {
    background-color: var(--color-background-inverse);
    border-radius: var(--borderRadius-normal);
    color: var(--color-font-inverse);
    padding: 9px 12px; // Deviates from theme gaps, but follows the same rules.
    white-space: nowrap;
  }
}

.tooltipContainer {
  .tooltip, &::after {
    transition-duration: var(--duration-flash);
    transition-property: background-color;
  }

  &.success, &.warning, &.danger {
    .tooltip, &::after {
      transition-duration: 0ms;
    }
  }

  &.success {
    .tooltip, &::after {
      background-color: var(--color-status-success-background);
    }
  }

  &.warning {
    .tooltip, &::after {
      background-color: var(--color-status-warning-background);
    }
  }

  &.danger {
    .tooltip, &::after {
      background-color: var(--color-status-danger-background);
    }
  }
}
