.banner {
  border: var(--borderSize-border-normal) solid;
  border-radius: var(--borderRadius-normal);
  color: var(--color-font-inverse);
  padding: var(--gap-small) var(--gap-smallPlus);

  &.success {
    background-color: var(--color-status-success-background);
    border-color: var(--color-status-success-border);
  }

  &.warning {
    background-color: var(--color-status-warning-background);
    border-color: var(--color-status-warning-border);
  }

  &.danger {
    background-color: var(--color-status-danger-background);
    border-color: var(--color-status-danger-border);
  }
}
