/**
 * These font sizes align with Google's recommendations for icon sizes.
 * They intentionally use px (not rem) since we don't want icons to scale with fonts.
 */

.small {
  font-size: var(--size-icon-small);
}

.medium {
  font-size: var(--size-icon-medium);
}

.large {
  font-size: var(--size-icon-large);
}

.extraLarge {
  font-size: var(--size-icon-extraLarge);
}
