.container {
  border: var(--borderSize-border) solid var(--color-border);
  border-radius: var(--borderRadius-large);
  display: flex;
  flex-direction: column;
  padding: 0 16px calc(16px - var(--gap-normal));
}
