html, body, #root {
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
}

body {
    font-family: Roboto, sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

code {
    font-family: 'Courier New', monospace;
}

#root {
    display: flex;
    flex-direction: column;
    align-items: stretch;
}

main {
    flex-grow: 1;
    padding: 16px;
    display: flex;
    flex-direction: column;
}

a {
    color: unset;
    text-decoration: unset;
}
