html, body, #root {
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
}

body {
    font-family: Roboto, sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

code {
    font-family: 'Courier New', monospace;
}

table {
    border-collapse: collapse;
}

th {
    text-align: initial;
}

#root {
    display: flex;
    flex-direction: column;
    align-items: stretch;
}

main {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
}

h1 {
    font-size: 2em;
}

@media (max-width: 767px) {
    h1 {
        font-size: 1.5em;
    }
}

h2 {
    font-size: 1.6em;
}

@media (max-width: 767px) {
    h2 {
        font-size: 1.3em;
    }
}

h3 {
    font-size: 1.2em;
}

@media (max-width: 767px) {
    h3 {
        font-size: 1.1em;
    }
}

a {
    color: unset;
    text-decoration: unset;
}
