@use "src/style/boxshadow";

:root {
  --toastify-color-light: var(--colorLight-background-default);
  --toastify-color-dark: var(--colorLight-background-default);
  --toastify-color-success: var(--colorLight-status-success-background);
  --toastify-color-warning: var(--colorLight-status-warning-background);
  --toastify-color-error: var(--colorLight-status-danger-background);

  --toastify-toast-background: var(--colorLight-background-default);

  --toastify-font-family: unset;
  --toastify-z-index: var(--zIndex-toast);

  --toastify-text-color-light: var(--colorLight-font-default);
  --toastify-text-color-dark: var(--colorLight-font-default);
}

.container {
  right: 16px;
  top: calc(var(--size-topNav-height) + var(--borderSize-border-normal) + 16px);
}

.toast {
  border-radius: var(--borderRadius-normal);
  font-family: unset;
  margin-bottom: 16px;
  padding: 8px;

  @include boxshadow.boxShadow();
}

:global {
  .Toastify__close-button {
    &--light, &--light:active {
      color: var(--toastify-text-color-light);
      opacity: 1;
    }

    &--dark, &--dark:active {
      color: var(--toastify-text-color-dark);
      opacity: 1;
    }
  }
}
