@use "src/component/topNav/vars" as topNavVars;

.container {
  padding: 4px;
  right: 16px;
  top: calc(#{topNavVars.$height} + var(--borderSize-border) + 16px);
  z-index: var(--zIndex-toast);
}

.toast {
  background: var(--color-backgroundInverse);
  border-radius: var(--borderRadius-normal);
  color: var(--color-fontInverse);
  font-family: unset;
  margin-bottom: 16px;
  padding: 8px;
}
