.overlay {
  align-items: center;
  background-color: var(--color-overlay);
  border-radius: var(--borderRadius-normal);
  display: flex;
  flex-direction: column;
  inset: 0;
  justify-content: center;
  position: absolute;
}
