@use "src/style/focus";

.button {
  align-items: center;
  border-radius: var(--borderRadius-normal);
  cursor: pointer;
  display: flex;
  flex-direction: row;
  position: relative;
  width: fit-content;

  &.primary {
    background-color: var(--color-buttonPrimary);
    border: var(--borderSize-border) solid var(--color-border);
    color: var(--color-fontLight);
    height: calc(30px + 2 * var(--borderSize-border));
    padding: 6px 12px;
  }

  @include focus.focusable;
}
