@use "src/style/focus";

.button {
  align-items: center;
  border-radius: var(--borderRadius-normal);
  cursor: pointer;
  display: flex;
  flex-direction: row;
  overflow: auto;
  position: relative;
  width: fit-content;

  @include focus.focusable;

  &.primary {
    background-color: var(--color-buttonPrimary);
    border: var(--borderSize-border) solid var(--color-border);
    color: var(--color-fontLight);
    height: calc(var(--size-inputHeight) + 2 * var(--borderSize-border));
    padding: var(--gap-normalHalf) var(--gap-normal);
  }
}
