/**
 * For a11y, elements should have a visual indication when they're focused.
 *
 * There's an intentional delay between the blur of one element and the focus of another,
 * implemented using transitions.
 * Focus uses outline to avoid taking up any space.
 *
 * The focus selector and focus class, although identical, are implemented separately due to
 * https://css-tricks.com/dont-comma-separate-focus-within-if-you-need-deep-browser-support/.
 */
@mixin focusable() {
  transition-duration: var(--duration-focus);
  transition-property: outline;

  &:global(.focus) {
    transition-delay: var(--duration-focus);
    outline: var(--borderSize-focus) solid var(--color-focus);
    outline-offset: var(--borderSize-focus);
  }

  &:focus {
    transition-delay: var(--duration-focus);
    outline: var(--borderSize-focus) solid var(--color-focus);
    outline-offset: var(--borderSize-focus);
  }
}

@mixin hideFocus() {
  &:global(.focus) {
    outline: none;
  }

  &:focus {
    outline: none;
  }
}
