$duration-focus: 50;
$duration-flash: 200;
$duration-transition: 150;

:root {
  /**
   * Border sizes.
   *
   * Float px values may render differently on different browsers. This is okay.
   * The border and focus border sizes are the same,
   * because some components (such as [Input]) use both, expecting only a color change on focus.
   */
  --borderSize-border: 1.5px;
  --borderSize-focus: 1.5px;

  /**
   * Border radii.
   */
  --borderRadius-normal: 3px;
  --borderRadius-large: 7px;

  /**
   * Colors.
   *
   * Colors use HSL so they're easy to reason with.
   */
  --color-background: hsl(240deg, 10%, 99%);
  --color-backgroundAccent: hsl(240deg, 10%, 92%);
  --color-backgroundActive: hsl(240deg, 10%, 94%);
  --color-backgroundHover: hsl(240deg, 10%, 92%);
  --color-backgroundInverse: hsl(240deg, 10%, 16%);
  --color-block: hsl(240deg, 10%, 52%);
  --color-border: hsl(240deg, 10%, 91%);
  --color-buttonPrimary: hsl(215deg, 45%, 55%);
  --color-failure: hsl(0deg, 40%, 50%);
  --color-focus: hsl(210deg, 80%, 60%);
  --color-font: hsl(240deg, 10%, 17%);
  --color-fontInverse: hsl(240deg, 10%, 93%);
  --color-fontLight: hsl(240deg, 10%, 93%);
  --color-indicator: hsl(210deg, 80%, 60%);
  --color-overlay: hsla(240deg, 10%, 35%, 80%);
  --color-success: hsl(105deg, 35%, 50%);

  /**
   * Durations.
   */
  --duration-focus: #{$duration-focus * 1ms};
  --duration-flash: #{$duration-flash * 1ms};
  --duration-transition: #{$duration-transition * 1ms};

  /**
   * Font sizes.
   */
  --fontSize-h1: 2.13rem;
  --fontSize-h2: 1.63rem;
  --fontSize-h3: 1.44rem;
  --fontSize-h4: 1.25rem;
  --fontSize-normal: 0.94rem;
  --fontSize-small: 0.75rem;

  /**
   * Font weights.
   */
  --fontWeight-light: 300;
  --fontWeight-normal: 400;
  --fontWeight-bold: 700;

  /**
   * Z-indices.
   */
  --zIndex-menu: 1;
  --zIndex-sideNav: 2;
}

@media (prefers-color-scheme: dark) {
  :root {
    --color-background: hsl(240deg, 10%, 15%);
    --color-backgroundAccent: hsl(240deg, 10%, 26%);
    --color-backgroundActive: hsl(240deg, 10%, 23%);
    --color-backgroundHover: hsl(240deg, 10%, 26%);
    --color-backgroundInverse: hsl(240deg, 10%, 92%);
    --color-block: hsl(240deg, 10%, 75%);
    --color-border: hsl(240deg, 10%, 23%);
    --color-buttonPrimary: hsl(215deg, 50%, 50%);
    --color-font: hsl(240deg, 10%, 93%);
    --color-fontInverse: hsl(240deg, 10%, 17%);
    --color-overlay: hsla(240deg, 10%, 5%, 80%);
  }
}

:export {
  durationFlash: $duration-flash;
}
