.transition {
  transition-duration: var(--duration-transition);
}

.fade {
  &.off {
    opacity: 0;
  }
}

.moveTop {
  &.off {
    transform: translateY(-6px);
  }
}

.slideLeft {
  &.off {
    transform: translateX(-100%);
  }
}

.zoom {
  &.off {
    transform: scale(0.75);
  }
}
