.transition {
  transition-duration: var(--duration-transition);
}

.fadeIn {
  &.off {
    opacity: 0;
  }

  &.on {
    opacity: 1;
  }
}

.moveDownIn {
  &.off {
    transform: translateY(-6px);
  }

  &.on {
    transform: translateY(0);
  }
}

.moveUpOut {
  &.off {
    transform: translateY(-6px);
  }

  &.on {
    transform: translateY(0);
  }
}

.slideIn {
  &.off {
    transform: translateX(-100%);
  }

  &.on {
    transform: translateX(0);
  }
}
