.container {
  align-items: flex-start;
  display: inline-flex;
  flex-direction: column;
  row-gap: 1px;
}

.label {
  padding: var(--borderSize-border) 3px; // The horizontal padding matches [InputErrorMessage].
}
