@use "../vars" as inputVars;

.container {
  align-items: flex-start;
  display: inline-flex;
  flex-direction: column;
  row-gap: 1px;

  &.width2 {
    grid-column: span 2;
  }
}

.label {
  padding: var(--borderSize-border) inputVars.$input-label-offset;
}
