@use "style/theme";

html, body, #root {
  height: 100%;
  width: 100%;
}

body {
  background-color: var(--color-background);
  color: var(--color-font);
  font-family: "Roboto", sans-serif;
  font-size: var(--fontSize-normal);
}
