/* IMPORTANT: Preserve CSS import order. */
@use "./style/theme/theme.module";
@use "./style/focus";

html, body, #root {
  height: 100%;
  width: 100%;
}

body {
  background-color: var(--color-background-default);
  color: var(--color-font-default);
  font-family: "Roboto", sans-serif;
  font-size: var(--fontSize-normal);
}

a {
  border-radius: var(--borderRadius-normal);

  @include focus.focusable;
}
