*

!/.gitignore

!/codeStyles/
!/codeStyles/**
!/inspectionProfiles/
!/inspectionProfiles/**
!/runConfigurations/
!/runConfigurations/**

!/codeInsightSettings.xml
!/compiler.xml
!/kotlinc.xml
!/misc.xml
!/modules.xml
!/sqldialects.xml
!/vcs.xml
