name: "CI"

permissions:
  contents: "read"

on:
  pull_request:
    branches:
      - "main"
  push:
    branches:
      - "main"
  workflow_dispatch:

concurrency:
  group: "ci-${{ github.ref }}"
  cancel-in-progress: true

jobs:
  main:
    runs-on: "ubuntu-latest"
    steps:
      - name: "Check out"
        uses: "actions/checkout@v6" # https://github.com/actions/checkout/releases
      - name: "GCP auth"
        uses: "google-github-actions/auth@v3" # https://github.com/google-github-actions/auth/releases
        with:
          credentials_json: ${{ secrets.GCP_CREDENTIALS }}
      - name: "Set up Java"
        uses: "actions/setup-java@v5" # https://github.com/actions/setup-java/releases
        with:
          java-version: "21"
          distribution: "corretto"
          cache: "gradle"
      - name: "Gradle classes"
        run: |
          ./gradlew classes testClasses
      - name: "Gradle test"
        run: |
          ./gradlew test
      - name: "Gradle detekt"
        run: |
          ./gradlew detektMain detektTest
